:root {
	--blue: #006699;
	--red: #9a0000;
	--yellow: #ffcc00;
	--black: #000000;
	--warmblack: #191918;
	--warmdarkgray: #292922;
	--warmgray: #4b4b44;
	--warmlightgray: #656560;
	--gray: #484848;
	--monospace_code: Courier, 'Andale Mono', AndaleMono, Monaco, monospace;
	--monospace: 'Lucida Console', 'Andale Mono', AndaleMono, Monaco, Courier, monospace;
	--monospace_zeroslash: Monaco, 'Andale Mono', AndaleMono, Courier, monospace;
	--monospace_zerodot: 'Andale Mono', AndaleMono, Monaco, Courier, monospace;
}
html {
    border-left: solid 1em #9a0000;
    border-right: dashed 1rem #191918;
    border-left: solid 1em var(--red);
    border-right: dashed 1rem var(--warmblack);
    padding:2rem;
}
body {
	color: var(--warmblack);
	background: var(--warmwhite);
	font-family: Courier;
	font-family: var(--monospace_code);
	font-size: clamp(0.9rem, 2vw, 2rem);
	line-height: 1.8em; 
}
.monospace_zerodot {
	font-family: var(--monospace_zerodot);
}
.monospace_zeroslash {
	font-family: var(--monospace_zeroslash);
}
.monospace_code {
	font-family: var(--monospace_code);
}
.red {
	color: var(--red);
}
.bold {
	font-weight: bold;
}
p {
	text-align: justify;
	text-align-last: justify;
	text-justify: inter-word;
	width: clamp(50ch, 55ch, 100%);
}
hr {
	 border-bottom: solid 4px var(--warmgray);
}
a {
	font-weight:bold;
	text-decoration: none;
	color: #fcfbe3;
	color: var(--warmwhite);
}
a:before {
	color: #fcfbe3;
	color: var(--warmwhite);
	font-weight:bolder;
	content: ":> ";
}
dt:nth-of-type(odd):before {
	color: var(--red);
	content: ":|: ";
}
dt:nth-of-type(even):before {
	color: var(--warmlightgray);
	content: "|:| ";
}
dt:nth-of-type(odd) {
	font-weight: bold;
}
dt:nth-of-type(even) {
	color: var(--red);
	font-weight: bold;
}
dd {
	font-size: 0.8em;
}
/*
dd:nth-of-type(even) {
	color: var(--red);
}
dd:nth-of-type(odd) {
	color: var(--warmdarkgray);
}
*/
span.books {
	color: var(--warmlightgray);
	font-style: italic;
}
span.fl {
	color: var(--warmblack);
	font-style: italic;
	font-weight: bold;
}
a:hover, a:focus {
	color: var(--warmwhite);
	text-decoration: underline solid 2px var(--red);
	outline: solid 4px var(--warmblack);
	outline-offset: 0.5em;
}
